
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul li{
    list-style: none;
}

#root {
  --bg-main: #d0ddff;
  --bg-secondary: #ffffff;
  --bg-card: #ffffff;

  --text-main: #1f2937;
  --text-secondary: #6b7280;
  --text-muted: #9ca3af;

  --primary: #6366f1;
  --primary-hover: #4f46e5;
  --secondary: #22c55e;
  --danger: #ef4444;
}

.dark {
  --bg-main: #0a102c;
  --bg-secondary: #021567;
  --bg-card: #0f172a;

  --text-main: #e5e7eb;
  --text-secondary: #94a3b8;
  --text-muted: #64748b;

  --primary: #818cf8;
  --primary-hover: #6366f1;
  --secondary: #4ade80;
  --danger: #f87171;
}
html, body {
    height: 100%;
    font-family: Arial, sans-serif;
    overflow-x: hidden;
    background-color: var(--bg-main);
    color: var(--text-main);
    transition: all 0.3s ease;
}


#root {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}


.container{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
}

main{
    width: 100%;
    max-width: 1700px;
    padding: 20px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    background-color: var(--bg-secondary);
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: var(--bg-main);
    color: var(--text-main);
}

.theme-btn {
    padding: 8px 14px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    background-color: var(--primary);
    color: white;
    font-weight: 500;
}
.theme-btn:hover {
    background-color: var(--primary-hover);
}


.nav-links{
    list-style: none;
    display: flex;
    gap: 15px;
}
.footer{
    background-color: var(--bg-main);
    color: var(--text-main);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.user-list{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 30px;
    width: 100%;
    background-color: var(--bg-secondary);
}
.user-item{
    background-color: var(--bg-main);
    padding: 20px;
    border-radius: 10px;
    color: var(--text-main);
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.user-img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 15px;
}

.user-name{
    font-size: 1.2rem;
    color: var(--text-main);
    margin-bottom: 5px;
}

.user-email{
    font-size: 0.9rem;
    color: var(--text-secondary);
}
.user-list-title{
    color: var(--text-main);
}
